# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'vs2017-win2016'

variables:
  buildConfiguration: 'Release'
  version: '0.8.0'

steps:
- script: |
    dotnet build --configuration $(buildConfiguration)
    dotnet test test\Paravaly.Tests\Paravaly.Tests.csproj --configuration $(buildConfiguration) --logger trx
    dotnet pack src\Paravaly

- task: PublishTestResults@2
  condition: succeededOrFailed()
  inputs:
    testRunner: VSTest
    testResultsFiles: '**/*.trx'

- task: NuGetCommand@2
  inputs:
    command: push
    nuGetFeedType: external
    publishFeedCredentials: 'Paravaly-NuGet'
    packagesToPush: '**/Paravaly*.nupkg'
    versioningScheme: byEnvVar
    versionEnvVar: version